{% extends 'base.html' %}

{% block title %}{{ curso_nome }} - {{ video.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
{% endblock %}

{% block content %}
<div class="video-container">
    <div class="player-size mx-auto shadow">
        <video id="player" playsinline controls>
            <source src="{{ url_for('media', curso_id=curso_id, video_id=video.id) }}" type="video/mp4">
        </video>
    </div>
</div>

<div class="nav-buttons d-flex justify-content-center justify-content-sm-end align-items-center mx-auto gap-2 my-2">
    {% if video.previous is defined %}
        <a href="{{ url_for('video', curso_id=curso_id, video_id=video.previous) }}">
            <button class="btn btn-secondary shadow">
                <i class="bi bi-skip-backward-fill"></i> Aula anterior
            </button>
        </a>
    {% endif %}
    {% if video.next is defined %}
        <a href="{{ url_for('video', curso_id=curso_id, video_id=video.next) }}">
            <button class="btn btn-secondary shadow">
                Próxima aula <i class="bi bi-skip-forward-fill"></i>
            </button>
        </a>
    {% endif %}
</div>

<div class="container d-flex flex-column">
    <div class="d-flex justify-content-start align-items-center gap-2 my-2">
        <div class="form-check d-flex justify-content-center align-items-center">
            <input class="form-check-input custom-check" type="checkbox" id="checkAssistido" data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar como assistido" {% if assistido %} checked {% endif %}>
        </div>
        <h2 class="text-start m-0">{{ video.title }}</h2>
    </div>

    <nav class="text-secondary" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a class="link-info" href="{{ url_for('page_curso', curso_id=curso_id) }}">{{ curso_nome }}</a>
            </li>
            {% for caminho in caminho_vídeo %}
                <li class="breadcrumb-item active text-secondary" aria-current="page">{{ caminho }}</li>
            {% endfor %}
        </ol>
    </nav>

    <div id="description" class="text-bg-light p-3 rounded-1 mt-3 shadow text-start">
        {{ video.description | safe }}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const VIDEO_ID = "{{ video.id }}";
    const CURSO_ID = "{{ curso_id }}";
    const ASSISTIDO_URL = "{{url_for('assistido')}}"
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<script src="{{ url_for('static', filename='js/video.js') }}?v=1.0"></script>
{% endblock %}
